<div class="footer">
    <div class="container">
        <a href="/" class="navbar-brand">TicTacToe</a>
        <p class="copyright">&copy; Copyright</p>
        <p class="signature">From ATW with <i class="fas fa-heart red"></i></p>
    </div>
</div>